    .produto-img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 8px;
    }

    .empty-cart {
        text-align: center;
        margin-top: 50px;
    }