/* ===== Reset ===== */
* {
    font-family: "ABeeZee", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    font-weight: lighter;
    padding-left: 0;
  }
  
  /* ===== Root ===== */
  :root {
    /* ===== colors ===== */
    --clr-black: #000000;
    --clr-black-gray: #252525;
    --clr-gray: #929292;
    --clr-gray-one: #b4b4b4;
    --clr-gray-two: #dddddd;
    --clr-cloud-white: #f5f6fa;
    --clr-silver: #e9e9e9;
    --clr-white: #ffffff;
    --clr-white-one: #ffffff80;
    --clr-mint: #dfecc6;
    --clr-olive: #8e9b77;
    --clr-forest: #485c11;
    --clr-forest-one: #343d1b;
  
    /* ===== texts ===== */
    --fs-title: 2em;
    --fs-sub-title: 1.5em;
  
    /* ===== thickness ===== */
    --fw-title: 700;
  }
  
  /* ===== Main ===== */
  main {
    margin-left: 54px;
    padding: 3em 3em;
    transition: margin-left 0.4s ease, margin-right 0.4s ease;
    margin-right: 0;
  
    header.expandir ~ & {
      margin-left: 250px;
    }
  }
  
  /* #region service */
  
  #service {
    height: 100%;
  
    .container-service {
      background: var(--clr-gray-two);
      padding: 1em;
      border-radius: 1em;
      display: flex;
      flex-direction: column;
      gap: 1em;
  
      .title-service {
        & ul {
          & li {
            & p {
              font-size: var(--fs-sub-title);
              padding: 0 0.5em 0 1.2em;
            }
          }
        }
      }
  
      #register-service {
        width: 100%;
  
        .container-basic-service-info {
          width: 100%;
          background: var(--clr-white);
          padding: 2em;
          border-radius: 0.6em;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  
          .service-form {
            display: flex;
            flex-direction: column;
            gap: 1.2em;
  
            p {
              font-size: 1.4em;
              color: var(--clr-black-gray);
              margin-bottom: 0.5em;
            }
  
            label {
              margin-bottom: 0.3em;
              color: var(--clr-black-gray);
              display: block;
            }
  
            input,
            select,
            textarea {
              width: 100%;
              padding: 0.7em;
              border: 1px solid var(--clr-gray-one);
              border-radius: 0.4em;
              font-size: 0.9em;
              outline: none;
              transition: border-color 0.2s ease;
  
              &:focus {
                border-color: var(--clr-black-gray);
              }
            }
  
            textarea {
              overflow-y: auto;
              min-height: 80px;
              resize: none;
            }
  
            .form {
              display: flex;
              flex-wrap: wrap;
              gap: 1em;
              margin-top: 1em;
  
              > div {
                flex: 1;
                min-width: 160px;
                display: flex;
                flex-direction: column;
              }
            }
  
            .form-group {
              display: flex;
              flex-direction: column;
            }
  
            .image-preview {
              margin-top: 0.8em;
              text-align: center;
  
              img {
                width: 100px;
                border-radius: 0.4em;
                border: 1px solid #ddd;
              }
            }
  
            .actions {
              display: flex;
              justify-content: flex-end;
              gap: 1em;
              margin-top: 1em;
  
              button {
                padding: 0.7em 1.5em;
                border: none;
                border-radius: 0.4em;
                cursor: pointer;
                transition: background-color 0.2s ease;
              }
  
              .btn-cancel {
                background: var(--clr-gray-two);
  
                &:hover {
                  background: var(--clr-gray-one);
                }
              }
  
              .btn-save {
                background: var(--clr-olive);
                color: var(--clr-black);
  
                &:hover {
                  background: var(--clr-forest);
                  color: var(--clr-white);
                }
              }
            }
          }
        }
      }
    }
  }
  
  /* #endregion */
  
  .toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 14px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 30px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
  }
  
  /* .toast {
    left: auto;
    right: 30px;
    bottom: 30px;
    margin-left: 0;
  } */
  
  .toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
  }