/* ===== Header ===== */
/* #region header */

header {
    nav.menu-lateral {
        width: 54px;
        height: 100vh;
        background: var(--clr-white);
        backdrop-filter: blur(1em);
        box-shadow: 2px 0 0 black;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: width 0.4s ease;
        z-index: 100;
        display: flex;
        flex-direction: column;

        .btn-expandir {
            margin: 1em 0 2em 1em;
            padding-right: 1em;
            display: flex;
            cursor: pointer;
            justify-content: end;

            .material-icons {
                font-size: 1.5em;
                color: var(--clr-pet-blue);
            }
        }

        .menu-informations {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .informations {
                ul {
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 0 0.2em;

                    li {
                        a {
                            display: flex;
                            align-items: center;
                            gap: 1em;
                            padding: 1em 1em 1em 0.8em;
                            transition: background 0.2s;

                            .material-icons {
                                color: var(--clr-black);
                                font-size: 1.5em;
                            }

                            .txt-link {
                                color: var(--clr-black);
                                margin-left: 3em;
                                transition: opacity 0.2s, margin 0.2s;
                                opacity: 0;
                                min-width: 300px;
                            }
                        }

                        a:hover {
                            background: var(--clr-gray);
                        }

                        &.ativo {
                            background: var(--clr-gray);
                        }
                    }
                }
            }

            .perfil-adm {
                li.item-menu {
                    a {
                        display: flex;
                        align-items: center;
                        gap: 1em;
                        padding: 1em 1em 1em 0.8em;
                        transition: background 0.2s;

                        .img-perfil {
                            img {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                            }
                        }

                        .txt-link {
                            color: var(--clr-black);
                            margin-left: 3em;
                            transition: opacity 0.2s, margin 0.2s;
                            opacity: 0;
                            min-width: 300px;
                        }
                    }
                }
            }
        }
    }

    &.expandir {
        nav.menu-lateral {
            width: 250px;

            .menu-informations {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .informations {
                    a .txt-link {
                        opacity: 1;
                        margin-left: 0;
                    }
                }

                .perfil-adm {
                    li.item-menu {
                        a {
                            .img-perfil {
                                img {
                                    width: 35px;
                                }
                            }

                            .txt-link {
                                margin-left: 0;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* #endregion */