/* menu sem login */
header {
    nav#menuDeslogado {
        background: var(--clr-pet-blue-dark);
        display: flex;
        position: fixed;
        top: 0;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        z-index: 1000;
        flex-direction: column;
        padding: 1em 0 0;

        .container-menu-up {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            z-index: 1000;
            padding-bottom: 1em;

            .logo {
                img {
                    width: 130px;
                    height: 50px;
                }
            }

            .menu {
                background: var(--clr-white-one);
                backdrop-filter: blur(0.5em);
                -webkit-backdrop-filter: blur(1em);
                padding: 0.45em;
                border-radius: 0.6em;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
                display: flex;
                gap: 1em;

                .category-search {
                    .category {
                        select {
                            border-radius: 0.4em;
                            padding: 0.2em;
                            border: 1px solid transparent;
                            outline: none;
                            transition: all 0.3s ease;

                            &:focus {
                                border: 1px solid var(--clr-black-gray);
                                box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                            }
                        }
                    }
                }

                .search-box {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    background: var(--clr-white);
                    border-radius: 0.4em;
                    padding: 0 0.6em;
                    border: 1px solid transparent;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
                    width: 350px;
                    transition: all 0.3s ease;

                    input {
                        flex: 1;
                        border: none;
                        outline: none;
                        background: transparent;
                        color: var(--clr-black);
                        transition: all 0.3s ease;

                        &::placeholder {
                            color: var(--clr-gray);
                        }
                    }

                    &:focus-within {
                        border: 1px solid var(--clr-black);
                    }

                    button {
                        background: var(--clr-transparente);
                        border: none;
                        padding: 0.1em 0.5em;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background 0.3s, transform 0.2s;

                        &:hover {
                            transform: scale(1.03);
                        }
                    }
                }
            }
        }

        .shopping-cart-order-service {
            display: flex;

            .order,
            .shopping-cart {
                background: var(--clr-transparente);
                padding: 0.5em 0.5em;
                border-radius: 0.6em;
                display: flex;
                justify-content: end;
                transition: all 0.3s ease;

                li {
                    a {
                        align-items: flex-end;
                        color: var(--clr-black);
                        gap: 0.2em;
                    }
                }

                .service-title,
                .shopping-cart-title,
                .order-title {
                    display: flex;
                    align-items: center;
                    gap: 0.4em;

                    .material-icons {
                        font-size: 2em;
                    }
                }
            }

            .shopping-cart {
                a {
                    align-items: flex-end;
                    color: var(--clr-black);
                    gap: 0.2em;

                    i {
                        #cart-count {
                            font-size: 0.7rem;
                            min-width: 18px;
                            height: 18px;
                            text-align: center;
                            color: white;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .material-icons {
                        font-size: 2em;
                    }
                }
            }


            ul {
                list-style: none;
                display: flex;
                gap: 1em;

                li.dropdown {
                    position: relative;

                    a {
                        text-decoration: none;
                        color: var(--clr-black);
                        padding: 0.6em 0.8em;
                        display: block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 1;
                        border-radius: 0.4em;
                        min-width: 150px;
                        z-index: 10;
                        background: var(--clr-white);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                        li {
                            a {
                                padding: 0.6em 0.8em;
                                border-radius: 0.4em;
                                border: 1px solid var(--clr-transparente);
                                transition: border 0.2s ease;

                                &:hover {
                                    border: 1px solid var(--clr-gray);
                                }
                            }
                        }
                    }

                    &.ativo .dropdown-content {
                        display: block;
                        animation: fadeIn 0.2s ease-in;
                    }
                }
            }

            .login {
                display: flex;
                align-items: center;

                ul {
                    li {
                        display: flex;
                        gap: 1em;
                    }
                }

                a {
                    text-decoration: none;
                    color: var(--clr-black);
                    padding: 0.6em 0.8em;
                }

                .cadastrar {
                    background: var(--clr-blue);
                    border-radius: 0.4em;
                    transition: all .2s ease;

                    &:hover {
                        background: var(--clr-aqua);
                    }
                }

                .logar {
                    transition: all .2s ease;

                    &:hover {
                        color: var(--clr-blue);
                    }
                }
            }
        }

        .container-menu-down {
            border-top: 1px solid var(--clr-pet-blue-soft);
            padding: 0.5rem 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
            width: 100%;
            background: var(--clr-white);

            .service-title {
                font-weight: 400;
                color: var(--clr-black-gray);
                margin: 0 0.8rem;
                transition: color 0.3s ease;
                position: relative;
                display: inline-flex;
                align-items: center;
                gap: 6px;

                &:hover {
                    color: var(--clr-blue);
                }
            }

            .down {
                ul {
                    list-style: none;
                    display: flex;
                    gap: 1em;
                    align-items: center;

                    li.dropdown {
                        position: relative;

                        a.service-title::after {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-right: 2.5px solid var(--clr-black-gray);
                            border-bottom: 2.5px solid var(--clr-black-gray);
                            transform: rotate(45deg);
                            transition: transform 0.3s ease, border-color 0.3s ease;
                            margin-top: -5px;
                            margin-left: 10px;
                        }

                        a.service-title:hover::after {
                            border-color: var(--clr-blue);
                        }

                        &.ativo a.service-title::after {
                            transform: rotate(-135deg);
                        }

                        a {
                            text-decoration: none;
                            color: var(--clr-black-gray);
                            padding: 0.6em 0.8em;
                            display: inline-flex;
                            align-items: center;
                            font-weight: 400;
                            transition: color 0.3s ease;

                            &:hover {
                                color: var(--clr-blue);
                            }
                        }

                        .dropdown-content {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 1;
                            border-radius: 0.4em;
                            min-width: 300px;
                            z-index: 10;
                            background: var(--clr-white);
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                            li {
                                a {
                                    font-weight: 400;
                                    padding: 0.6em 0.8em;
                                    border-radius: 0.4em;
                                    border: 1px solid var(--clr-transparente);
                                    transition: border 0.2s ease;
                                    width: 100%;

                                    &:hover {
                                        border: 1px solid var(--clr-gray);
                                    }
                                }
                            }
                        }

                        &.ativo .dropdown-content {
                            display: block;
                            animation: fadeIn 0.2s ease-in;
                        }
                    }
                }
            }
        }
    }
}

/* menu com login */
header {
    nav#menuLogado {
        background: var(--clr-pet-blue-dark);
        display: flex;
        position: fixed;
        top: 0;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        z-index: 1000;
        flex-direction: column;
        padding: 1em 0 0;

        .container-menu-up {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            z-index: 1000;
            padding-bottom: 1em;

            .logo {
                img {
                    width: 130px;
                    height: 50px;
                    filter: brightness(0) invert(1);
                }
            }

            .menu {
                background: var(--clr-white-one);
                backdrop-filter: blur(0.5em);
                -webkit-backdrop-filter: blur(1em);
                padding: 0.45em;
                border-radius: 0.6em;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
                display: flex;
                gap: 1em;

                .category-search {
                    .category {
                        select {
                            border-radius: 0.4em;
                            padding: 0.2em;
                            border: 1px solid transparent;
                            outline: none;
                            transition: all 0.3s ease;

                            &:focus {
                                border: 1px solid var(--clr-black-gray);
                                box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                            }
                        }
                    }
                }

                .search-box {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                    background: var(--clr-white);
                    border-radius: 0.4em;
                    padding: 0 0.6em;
                    border: 1px solid transparent;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
                    width: 350px;
                    transition: all 0.3s ease;

                    input {
                        flex: 1;
                        border: none;
                        outline: none;
                        background: transparent;
                        color: var(--clr-black);
                        transition: all 0.3s ease;

                        &::placeholder {
                            color: var(--clr-gray);
                        }
                    }

                    &:focus-within {
                        border: 1px solid var(--clr-black);
                    }

                    button {
                        background: var(--clr-transparente);
                        border: none;
                        padding: 0.1em 0.5em;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: background 0.3s, transform 0.2s;

                        &:hover {
                            transform: scale(1.03);
                        }
                    }
                }
            }

            .perfil {
                ul {
                    list-style: none;
                    display: flex;

                    a {
                        text-decoration: none;
                        color: var(--clr-black);
                        padding: 0.6em 0.8em;
                        display: block;
                    }

                    li.dropdown-perfil {
                        position: relative;
                        z-index: 999;

                        a {
                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                            }
                        }

                        .dropdown-content {
                            display: none;
                            flex-direction: column;
                            justify-content: space-between;
                            position: absolute;
                            top: 100%;
                            left: -190px;
                            border-radius: 0.4em;
                            min-width: 250px;
                            z-index: 10;
                            background: var(--clr-white);
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            padding: 0;
                            min-height: 350px;
                            transition: all 0.2s ease;

                            .down {
                                margin-top: auto;
                                border-top: 1px solid var(--clr-gray-two);
                                border-radius: 0.4em;

                                a {
                                    color: var(--clr-red);
                                }

                                &:hover {
                                    background: var(--clr-gray-one);
                                }
                            }

                            li {
                                list-style: none;

                                &.perfil-configuration {
                                    display: flex;
                                    align-items: center;
                                    gap: 1em;
                                    padding: 0.6em 0.8em;
                                    border-radius: 0.4em;
                                    border: 1px solid var(--clr-transparente);
                                    background: var(--clr-gray);
                                    transition: all 0.2s ease;
                                    cursor: pointer;

                                    .img {
                                        width: 40px;
                                        height: 40px;

                                        img {
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 50%;
                                            object-fit: cover;
                                        }
                                    }

                                    .configuration {
                                        ul {
                                            li {
                                                .name {
                                                    font-weight: var(--fw-title);
                                                    color: var(--clr-black);
                                                }

                                                .config {
                                                    a {
                                                        color: var(--clr-black);
                                                        font-size: 14px;
                                                        padding: 0;
                                                        transition: all 0.2s ease;

                                                        &:hover {
                                                            background: var(--clr-transparente);
                                                            color: var(--clr-cloud-white);
                                                        }
                                                    }

                                                }
                                            }
                                        }
                                    }
                                }

                                a {
                                    display: block;
                                    padding: 0.6em 0.8em;
                                    border-radius: 0.4em;
                                    border: 1px solid var(--clr-transparente);
                                    transition: all 0.2s ease;
                                    font-size: 15px;
                                    color: var(--clr-black);

                                    &:hover {
                                        background: var(--clr-gray-two);
                                    }
                                }
                            }
                        }

                        &.ativo .dropdown-content {
                            display: flex;
                            animation: fadeIn 0.2s ease-in;
                        }
                    }
                }
            }

            .shopping-cart-order-service {
                display: flex;

                .order,
                .shopping-cart {
                    background: var(--clr-transparente);
                    padding: 0.5em 0.5em;
                    border-radius: 0.6em;
                    display: flex;
                    justify-content: end;
                    transition: all 0.3s ease;

                    li {
                        a {
                            align-items: flex-end;
                            color: var(--clr-black);
                            gap: 0.2em;
                        }
                    }

                    .service-title,
                    .shopping-cart-title,
                    .order-title {
                        display: flex;
                        align-items: center;
                        gap: 0.4em;

                        .material-icons {
                            font-size: 2em;
                        }
                    }
                    .order-title{
                        color: var(--clr-white);
                    }

                }

                .shopping-cart {
                    a {
                        align-items: flex-end;
                        color: var(--clr-black);
                        gap: 0.2em;

                        i {
                            #cart-count {
                                font-size: 0.7rem;
                                min-width: 18px;
                                height: 18px;
                                text-align: center;
                                color: white;
                                font-weight: bold;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }

                        .material-icons {
                            font-size: 2em;
                        }
                    }
                }


                ul {
                    list-style: none;
                    display: flex;
                    gap: 1em;

                    li.dropdown {
                        position: relative;

                        a {
                            text-decoration: none;
                            color: var(--clr-black);
                            padding: 0.6em 0.8em;
                            display: block;
                        }

                        .dropdown-content {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 1;
                            border-radius: 0.4em;
                            z-index: 10;
                            background: var(--clr-white);
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                            li {
                                min-width: 300px;

                                a {
                                    font-weight: 400;
                                    padding: 0.6em 0.8em;
                                    border-radius: 0.4em;
                                    border: 1px solid var(--clr-transparente);
                                    transition: border 0.2s ease;
                                    width: 100%;

                                    &:hover {
                                        border: 1px solid var(--clr-gray);
                                    }
                                }
                            }
                        }

                        &.ativo .dropdown-content {
                            display: block;
                            animation: fadeIn 0.2s ease-in;
                        }
                    }
                }
            }

        }

        .container-menu-down {
            border-top: 1px solid var(--clr-pet-blue-soft);
            padding: 0.5rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            width: 100%;
            background: var(--clr-white);

            .service-title {
                font-weight: 400;
                color: var(--clr-black-gray);
                margin: 0 0.8rem;
                transition: color 0.3s ease;
                position: relative;
                display: inline-flex;
                align-items: center;
                gap: 6px;

                &:hover {
                    color: var(--clr-blue);
                }
            }

            .down {
                ul {
                    list-style: none;
                    display: flex;
                    gap: 1em;
                    align-items: center;

                    li.dropdown {
                        position: relative;

                        a.service-title::after {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-right: 2.5px solid var(--clr-black-gray);
                            border-bottom: 2.5px solid var(--clr-black-gray);
                            transform: rotate(45deg);
                            transition: transform 0.3s ease, border-color 0.3s ease;
                            margin-top: -5px;
                            margin-left: 10px;
                        }

                        a.service-title:hover::after {
                            border-color: var(--clr-blue);
                        }

                        &.ativo a.service-title::after {
                            transform: rotate(-135deg);
                        }

                        a {
                            text-decoration: none;
                            color: var(--clr-black-gray);
                            padding: 0.6em 0.8em;
                            display: inline-flex;
                            align-items: center;
                            font-weight: 400;
                            transition: color 0.3s ease;

                            &:hover {
                                color: var(--clr-blue);
                            }
                        }

                        .dropdown-content {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 1;
                            border-radius: 0.4em;
                            min-width: 100%;
                            z-index: 10;
                            background: var(--clr-white);
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                            li {
                                a {
                                    font-weight: 400;
                                    padding: 0.6em 0.8em;
                                    border-radius: 0.4em;
                                    border: 1px solid var(--clr-transparente);
                                    transition: border 0.2s ease;

                                    &:hover {
                                        border: 1px solid var(--clr-gray);
                                    }
                                }
                            }
                        }

                        &.ativo .dropdown-content {
                            display: block;
                            animation: fadeIn 0.2s ease-in;
                        }
                    }
                }
            }
        }

    }
}

i {
    color: var(--clr-white) !important;
}