/* ===== Reset ===== */
* {
  font-family: "ABeeZee", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-weight: lighter;
  padding-left: 0;
}

/* --- Reset global para ignorar o Bootstrap --- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

p {
  padding-left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

p {
  margin: 0 !important;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
}

body::before {
  content: "";
  display: block;
  height: 5em;
}

:root {
  /* ===== neutros ===== */
  --clr-black: #000000;
  --clr-black-gray: #252525;
  --clr-gray: #929292;
  --clr-gray-light: #b4b4b4;
  --clr-gray-lighter: #dddddd;
  --clr-cloud-white: #f5f6fa;
  --clr-white: #ffffff;
  --clr-silver: #e9e9e9;
  --clr-transparent: transparent;

  /* ===== azul pet ===== */
  --clr-pet-blue: #52728d;
  --clr-pet-blue-dark: #0f2b36;
  --clr-pet-blue-light: #a1c0cc;
  --clr-pet-blue-soft: #e9f3f6;
  --clr-pet-blue-gradient-top: #e8edf0;
  --clr-pet-blue-gradient-bottom: #c9dbe0;

  --clr-pet-purple: #833aae;
  --clr-pet-purple-dark: #280f36;
  --clr-pet-purple-light: #9e5dc3;
  --clr-pet-purple-soft: #f0e9f6;
  --clr-pet-purple-gradient-top: #ebe8f0;
  --clr-pet-purple-gradient-bottom: #d6c9e0;

  /* ===== amarelo pet ===== */
  --clr-pet-yellow: #F2C94C;
  --clr-pet-yellow-dark: #886600;
  --clr-pet-yellow-light: #F9E79F;
  --clr-pet-yellow-soft: #FFF9E5;
  --clr-pet-yellow-gradient-top: #FFF4CC;
  --clr-pet-yellow-gradient-bottom: #FFEBA1;

  /* ===== textos ===== */
  --clr-text-main: #252525;
  --clr-text-muted: #7a7a7a;
  --clr-text-light: #ffffff;
  --clr-pet-text: #333333;

  /* ===== tamanhos ===== */
  --fs-title: 2em;
  --fs-sub-title: 1.5em;
  --fs-sub: 1.2em;
  --fs-body: 1em;

  /* ===== pesos ===== */
  --fw-title: 700;
  --fw-sub: 600;
  --fw-regular: 400;
}

main {
  margin-top: 160px !important;
}

.produto-img {
  max-width: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.descricao {
  white-space: pre-line;
}

.breadcrumb {
  max-width: 1264px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--clr-pet-purple-light);
  justify-content: start;
  width: 100%;
  margin: 0;

  a {
    text-decoration: none;
    color: var(--clr-pet-purple-light) !important;
    transition: color 0.2s ease;
    display: flex;
    justify-content: center;
    transition: all .2 ease;

    i {
      font-size: 20px;
      color: var(--clr-pet-purple-light) !important;
      transition: all .2 ease;

      &:hover {
        color: var(--clr-pet-purple-dark) !important;
      }
    }

    &:hover {
      color: var(--clr-pet-purple-dark) !important;
    }

  }

}


#product-details {
  padding: 2em;
  min-height: 100%;

  #produtoContainer {
    max-width: 1300px;
    display: flex;
    gap: 2em;
    justify-content: center;
    margin: 0 auto;

    .detail-container {
      padding: 1em;
      border-radius: 1em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      gap: 1em;
      max-width: 900px;
      width: 100%;

      .img-product {
        img {
          width: 350px;
        }
      }

      .container-product-detail {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .breadcrumb {
          display: flex;
          align-items: center;
          gap: 8px;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          color: #5a2ec4;

          a {
            text-decoration: none;
            color: var(--clr-blue);
            transition: color 0.2s ease;
            display: flex;
            justify-content: center;

            i {
              font-size: 20px;
              color: var(--clr-blue);
            }

            &:hover {
              color: var(--clr-blue-light);
            }

          }

          span {
            color: var(--clr-gray);
            user-select: none;
            font-size: var(--fs-title);
          }

          i {
            font-size: 16px;
            color: #5a2ec4;
          }
        }

        .product-name {
          ul {
            li {
              p {
                font-size: var(--fs-sub);
                font-weight: var(--fw-title);
              }
            }
          }
        }

        .product-brand {
          ul {
            li {
              p {
                color: var(--clr-gray);
              }
            }
          }
        }

        .product-description {
          ul {
            li {
              p {
                font-size: 14px;
                color: var(--clr-gray);
              }
            }
          }
        }

        .product-code {
          ul {
            li {
              p {
                font-size: 14px;
                color: var(--clr-gray);
              }
            }
          }
        }

        .product-price {
          display: flex;
          justify-content: end;
          margin-right: 2em;

          ul {

            li {
              p {
                font-size: var(--fs-sub);
                color: var(--clr-gray-dark);
                font-weight: var(--fw-title);
              }
            }
          }
        }
      }
    }

    .cart-add {
      padding: 1em;
      border-radius: 1em;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      width: 400px;
      max-width: 400px;
      height: 100%;

      .amount {
        border: 2px solid var(--clr-pet-purple-light);
        padding: 1em;
        width: 100%;
        border-radius: 0.6em;
        display: flex;
        flex-direction: column;
        gap: 2em;


        i {
          display: flex;
          align-items: center;
          gap: 0.5em;
          color: var(--clr-pet-purple-light) !important;
        }

        .amount-add {
          display: flex;
          justify-content: space-between;
          align-items: center;

          ul {
            li {
              display: flex;
              gap: 0;
              margin: 0 1em;
              max-width: 120px;

              .btn-quantidade {
                border: 1px solid var(--clr-gray-two);
                background: var(--clr-white);
                width: 100%;
                padding: 0.6em;
              }

              #quantidade {
                border: 1px solid var(--clr-gray-two);
                background: var(--clr-white);
                width: 100%;
                padding: 0.6em;
                -webkit-appearance: none;

                text-align: center;
              }

              .men {
                border-radius: .4em 0 0 .4em;

              }

              .mas {
                border-radius: 0 .4em .4em 0;
              }

            }
          }

        }

        .btn-final {
          button {
            border: none;
            border: 1px solid var(--clr-pet-purple-light);
            background: var(--clr-transparent);
            padding: 0.6em 0.8em;
            border-radius: 0.6em;
            width: 100%;
          }
        }

        .informations {
          border-top: 1px solid var(--clr-gray-light);

          ul {
            li {
              margin-top: 2em;
              display: flex;
              flex-direction: column;
              gap: 1em;

              p {
                font-size: 14px;
                color: var(--clr-gray);
              }

              span {
                font-size: 14px;
                color: var(--clr-gray-light);
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}

.products-page {
  padding: 2em;
  background: var(--clr-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;

  .highlight-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
    width: 100%;
    max-width: 1300px;
    justify-items: center;
    margin: 0 auto;

    .highlight-section-one {
      width: 100%;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1em;
      border-radius: 12px;
      box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.1);
      padding: 1em;
      background: var(--clr-white);

      .product-info {
        .product-name {
          font-weight: var(--fw-title);
          font-size: var(--fs-sub);
          margin-bottom: 0.5em;
        }
      }

      .product-price-stock {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: .3em;

        .category {
          ul {
            .product-category {
              font-size: 0.85em;
              color: var(--clr-gray);
            }
          }
        }

        .price-stock {
          width: 100%;

          ul {
            display: flex;
            justify-content: space-between;
          }

          .price {
            font-weight: bold;
            font-size: 1em;
          }

          .stock {
            font-size: 0.85em;

            &.in-stock {
              color: var(--clr-green);
            }

            &.out-of-stock {
              color: var(--clr-red);
            }
          }
        }
      }

      .main-image-product {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          max-width: 200px;
          height: auto;
          border-radius: 0.5em;
        }
      }


      .product-actions {
        display: flex;
        gap: 0.5em;

        button {
          flex: 1;
          padding: 0.5em 0.8em;
          border: none;
          border-radius: 0.3em;
          cursor: pointer;
          font-weight: bold;
          font-size: 0.9em;
          transition: background 0.2s;

          &.btn-details {

            background: var(--clr-pet-blue-light);
            transition: all .2s ease;

            a {
              text-decoration: none;
              color: var(--clr-black);
            }

            &:hover {
              background: var(--clr-gray-light);
            }
          }

          &.btn-add {
            background: var(--clr-white);
            color: var(--clr-black);
            transition: all .2s ease;

            &:hover {
              color: var(--clr-pet-blue);
            }
          }
        }
      }

      .see-more {
        color: var(--clr-black);
        font-weight: bold;
        font-size: 0.9em;
        text-decoration: none;
        display: flex;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .best-sellers {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;

    .title-best-sellers {
      padding: 0 0 0 2em;
      margin-top: 2em;
    }
  }

  .carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .carousel-btn {
      background: var(--clr-transparente);
      color: var(--clr-black);
      border: none;
      font-size: 1.5em;
      padding: 0.1em;
      cursor: pointer;
      z-index: 1;
    }

    .prev {
      margin-right: 0.5em;
    }

    .next {
      margin-left: 0.5em;
    }

    .product-carousel {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 2em;
      padding: 1em 0;
      cursor: grab;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &.active {
        cursor: grabbing;
      }
    }

    .product-card {
      flex: 0 0 auto;
      width: 10rem;
      border-radius: 0.5em;
      overflow: hidden;
      background: var(--clr-white);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      a {

        img {
          width: 100%;
          display: block;
          border-radius: 0.5em;
        }

        span {
          color: var(--clr-black-gray);
        }
      }

    }
  }
}

/* #region footer */

footer {
  margin-top: auto;
  background: var(--clr-pet-purple-gradient-bottom);
  display: flex;
  padding: 2em;
  justify-content: space-evenly;

  .logo {}

  .footer-nav {
    nav {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .tips-warnings {
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        padding: 0 1em;

        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .title-tips-warnings {
              & p {
                font-weight: var(--fw-title);
              }
            }

            .links-tw {
              display: flex;
              flex-direction: column;
              gap: 0.8em;

              & a {
                text-decoration: none;
                color: var(--clr-forest-one);
              }
            }
          }
        }
      }

      .our-products {
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        padding: 0 1em;

        & ul {
          & li {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .title-our-products {
              & p {
                font-weight: var(--fw-title);
              }
            }

            .links-op {
              display: flex;
              flex-direction: column;
              gap: 0.8em;

              & a {
                list-style: none;
                text-decoration: none;
                color: var(--clr-forest-one);
              }
            }
          }
        }
      }
    }
  }

  .social-media {
    display: flex;
    gap: 1em;

    .facebook,
    .x,
    .instagram {
      & ul {
        & li {
          & a {
            & img {
              width: 30px;
            }
          }
        }
      }
    }
  }
}

/* #endregion */



/* ===== Responsividade ===== */
@media screen and (max-width: 1200px) {
  #product-details #produtoContainer {
    flex-direction: row;
    align-items: start;
  }

  #product-details .detail-container {
    flex-direction: column;
    align-items: center;
  }

  #product-details .img-product img {
    width: 100%;
    max-width: 300px;
  }

  #product-details .cart-add {
    width: 100%;
    max-width: 400px;
  }
}

@media screen and (max-width: 900px) {
  #product-details #produtoContainer {
    flex-direction: column;
    align-items: center;
  }

  #product-details .detail-container {
    flex-direction: column;
    align-items: center;
  }

  .products-page .highlight-sections {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
  }

  .products-page .highlight-section-one .main-image-product img {
    max-width: 150px;
  }

  .products-page .product-actions button {
    font-size: 0.8em;
    padding: 0.4em 0.6em;
  }
}

@media screen and (max-width: 600px) {
  .products-page {
    padding: 1em;
  }

  #product-details {
    padding: 1em;
  }

  #product-details .container-product-detail .breadcrumb {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  #product-details .container-product-detail .product-price {
    margin-right: 0;
    justify-content: center;
  }

  .products-page .highlight-sections {
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .products-page .highlight-section-one {
    width: 100%;
    max-width: 100%;
  }

  .products-page .highlight-section-one .main-image-product img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .products-page .product-actions {
    flex-direction: column;
  }

  .products-page .product-actions button {
    width: 100%;
  }

  #product-details .cart-add .amount-add ul li {
    flex-direction: column;
    gap: 0.5em;
    margin: 0;
  }

  #product-details .cart-add .amount-add ul li #quantidade {
    width: 100%;
  }
}


.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 14px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.5s, bottom 0.5s;
}

/* .toast {
    left: auto;
    right: 30px;
    bottom: 30px;
    margin-left: 0;
  } */

.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}