* {
  font-family: "ABeeZee", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-weight: lighter;
}


:root {

  /* colors */
  --clr-black: #000000;
  --clr-gray: #929292;
  --clr-silver: #E9E9E9;
  --clr-white: #FFFFFF;
  --clr-white-one: #ffffff60;
  --clr-mint: #DFECC6;
  --clr-olive: #8E9B77;
  --clr-forest: #485C11;

  /* texts */

  --fs-title: 2em;


  /* thickness */

  --fw-title: 700;


}


body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
}

body::before {
  content: "";
  display: block;
  height: 5em;

}


header {
  & nav {
    display: flex;
    position: fixed;
    margin-top: 1em;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;

    .logo {}

    .menu {
      background: var(--clr-white-one);
      backdrop-filter: blur(1em);
      padding: 1em;
      border-radius: 2em;

      & ul {
        display: flex;
        gap: 1.5em;

        & li {
          & a {
            color: var(--clr-black);
          }

          :hover {
            color: var(--clr-forest);
          }
        }
      }
    }
  }
}

/* #region home */

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;

  .title-home {
    & ul {
      & li {
        & p {
          font-size: var(--fs-title);
          font-weight: var(--fw-title);
        }
      }
    }
  }

  .imgs-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    place-items: center;
  
    .left {
      display: grid;
    }
  
    .right {
      display: grid;
      gap: 1em;
    }
  }
  
}

/* #endregion */