/* ===== Reset ===== */
* {
  font-family: "ABeeZee", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
  font-weight: lighter;
  padding-left: 0;
}

/* --- Reset global para ignorar o Bootstrap --- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

p {
  padding-left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

p {
  margin: 0 !important;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
}

body::before {
  content: "";
  display: block;
  height: 5em;
}

:root {
  /* ===== neutros ===== */
  --clr-black: #000000;
  --clr-black-gray: #252525;
  --clr-gray: #929292;
  --clr-gray-light: #b4b4b4;
  --clr-gray-lighter: #dddddd;
  --clr-cloud-white: #f5f6fa;
  --clr-white: #ffffff;
  --clr-silver: #e9e9e9;
  --clr-transparent: transparent;

  /* ===== azul pet ===== */
  --clr-pet-blue: #52728d;
  --clr-pet-blue-dark: #1a495c;
  --clr-pet-blue-light: #a1c0cc;
  --clr-pet-blue-soft: #e9f3f6;
  --clr-pet-blue-gradient-top: #e8edf0;
  --clr-pet-blue-gradient-bottom: #c9dbe0;

  --clr-pet-purple: #833aae;
  --clr-pet-purple-dark: #280f36;
  --clr-pet-purple-light: #9e5dc3;
  --clr-pet-purple-soft: #f0e9f6;
  --clr-pet-purple-gradient-top: #ebe8f0;
  --clr-pet-purple-gradient-bottom: #d6c9e0;

  /* ===== amarelo pet ===== */
  --clr-pet-yellow: #F2C94C;
  --clr-pet-yellow-dark: #886600;
  --clr-pet-yellow-light: #F9E79F;
  --clr-pet-yellow-soft: #FFF9E5;
  --clr-pet-yellow-gradient-top: #FFF4CC;
  --clr-pet-yellow-gradient-bottom: #FFEBA1;

  /* ===== textos ===== */
  --clr-text-main: #252525;
  --clr-text-muted: #7a7a7a;
  --clr-text-light: #ffffff;
  --clr-pet-text: #333333;

  /* ===== tamanhos ===== */
  --fs-title: 2em;
  --fs-sub-title: 1.5em;
  --fs-sub: 1.2em;
  --fs-body: 1em;

  /* ===== pesos ===== */
  --fw-title: 700;
  --fw-sub: 600;
  --fw-regular: 400;
}

main {
  margin-top: 60px !important;
}


/* #region home */

#home {
  padding: 2em;
  background: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;

  .title-home {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2em;
    height: 40%;

    & ul {

      & li {
        display: flex;
        align-items: flex-end;
        width: 100%;

        & p {
          font-size: var(--fs-title);
          font-weight: var(--fw-title);
        }

        img {
          width: 100px;
        }
      }
    }
  }

  .breadcrumb {
    max-width: 1264px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #5a2ec4;
    justify-content: start;
    width: 100%;
    margin: 0 auto;

    a {
      text-decoration: none;
      color: var(--clr-blue);
      transition: color 0.2s ease;
      display: flex;
      justify-content: center;

      i {
        font-size: 20px;
        color: var(--clr-blue);
      }

      &:hover {
        color: var(--clr-blue-light);
      }

    }

    span {
      color: var(--clr-gray);
      user-select: none;
      font-size: var(--fs-title);
    }

    i {
      font-size: 16px;
      color: #5a2ec4;
    }
  }

  .highlight-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
    width: 100%;
    max-width: 1300px;
    justify-items: center;
    margin: 0 auto;

    .highlight-section-one {
      width: 100%;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1em;
      border-radius: 12px;
      box-shadow: 0 0.2em 0.6em rgba(0, 0, 0, 0.1);
      padding: 1em;
      background: var(--clr-white);

      .product-info {
        .product-name {
          font-weight: var(--fw-title);
          font-size: var(--fs-sub);
          margin-bottom: 0.5em;
        }
      }

      .product-price-stock {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: .3em;

        .category {
          ul {
            .product-category {
              font-size: 0.85em;
              color: var(--clr-gray);
            }
          }
        }

        .price-stock {
          width: 100%;

          ul {
            display: flex;
            justify-content: space-between;
          }

          .price {
            font-weight: bold;
            font-size: 1em;
          }

          .stock {
            font-size: 0.85em;

            &.in-stock {
              color: var(--clr-green);
            }

            &.out-of-stock {
              color: var(--clr-red);
            }
          }
        }
      }

      .main-image-product {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          max-width: 200px;
          height: auto;
          border-radius: 0.5em;
        }
      }

      .product-actions {
        display: flex;
        gap: 0.5em;

        button {
          flex: 1;
          padding: 0.5em 0.8em;
          border: none;
          border-radius: 0.3em;
          cursor: pointer;
          font-weight: bold;
          font-size: 0.9em;
          transition: background 0.2s;

          &.btn-details {

            background: var(--clr-pet-blue-light);
            transition: all .2s ease;

            a {
              text-decoration: none;
              color: var(--clr-black);
            }

            &:hover {
              background: var(--clr-gray-light);
            }
          }

          &.btn-add {
            background: var(--clr-white);
            color: var(--clr-black);
            transition: all .2s ease;

            &:hover {
              color: var(--clr-pet-blue);
            }
          }
        }
      }

      .see-more {
        color: var(--clr-black);
        font-weight: bold;
        font-size: 0.9em;
        text-decoration: none;
        display: flex;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .best-sellers {
      margin: 0 auto;
      width: 100%;
      max-width: 1300px;

      .title-best-sellers {
        padding: 0 0 0 2em;
        margin-top: 2em;
      }
    }

    .carousel-wrapper {
      position: relative;
      display: flex;
      align-items: center;

      .carousel-btn {
        background: var(--clr-transparente);
        color: var(--clr-black);
        border: none;
        font-size: 1.5em;
        padding: 0.1em;
        cursor: pointer;
        z-index: 1;
      }

      .prev {
        margin-right: 0.5em;
      }

      .next {
        margin-left: 0.5em;
      }

      .product-carousel {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 2em;
        padding: 1em 0;
        cursor: grab;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }

        &.active {
          cursor: grabbing;
        }
      }

      .product-card {
        flex: 0 0 auto;
        width: 10rem;
        border-radius: 0.5em;
        overflow: hidden;
        background: var(--clr-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        a {

          img {
            width: 100%;
            display: block;
            border-radius: 0.5em;
          }

          span {
            color: var(--clr-black-gray);
          }
        }

      }
    }

  }

  .carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .carousel-btn {
      background: var(--clr-transparente);
      color: var(--clr-black);
      border: none;
      font-size: 1.5em;
      padding: 0.1em;
      cursor: pointer;
      z-index: 1;
    }

    .prev {
      margin-right: 0.5em;
    }

    .next {
      margin-left: 0.5em;
    }

    .product-carousel {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      gap: 2em;
      padding: 1em 0;
      cursor: grab;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &.active {
        cursor: grabbing;
      }
    }

    .product-card {
      flex: 0 0 auto;
      width: 10rem;
      border-radius: 0.5em;
      overflow: hidden;
      background: var(--clr-white);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      a {

        img {
          width: 100%;
          display: block;
          border-radius: 0.5em;
        }

        span {
          color: var(--clr-black-gray);
        }
      }

    }
  }

  .best-sellers {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;

    .title-best-sellers {
      padding: 0 0 0 2em;
      margin-top: 2em;
    }
  }
}

/* #endregion */


/* #region service */

#service {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-text-service {
    background: var(--clr-pet-yellow);
    text-align: center;
    padding: 3em 2em;
    width: 100%;
    display: flex;
    justify-content: center;

    & ul {
      padding-top: 4em;
      display: flex;
      flex-direction: column;
      max-width: 1300px;
      margin: 0 auto;

      & li {
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title-service {
          font-size: var(--fs-title);
          font-weight: var(--fw-title);
          color: var(--clr-black);
        }

        .text-service {
          color: var(--clr-black);
        }
      }
    }
  }

  .container-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2em 0;

    .title-container ul li p {
      font-size: var(--fs-sub-title);
      font-weight: var(--fw-title);
      padding: 2em;
    }

    .grid-service {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
      width: 100%;
      max-width: 1300px;
      margin: auto;
      padding: 0 1em;

      .service-card-container-one,
      .service-card-container-two {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        width: 100%;

        >div {
          flex: 1 1 400px;
          display: flex;
          flex-direction: column;
          gap: 1em;
          border-radius: 1em;
          border: 1px solid var(--clr-pet-blue-light);
          background: var(--clr-white);
          align-items: center;
        }
      }

      .card-banho-tosa {
        background: var(--clr-white);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        align-items: center;
        border: 1px solid var(--clr-pet-blue-light);
        flex: 1 1 400px;

        .title-banho-tosa {
          background: var(--clr-pet-blue-light);
          display: flex;
          justify-content: center;
          width: 100%;
          border-radius: 1em 1em 0 0;
          padding: 1em 0;

          ul li p {
            font-size: var(--fs-sub-title);
            font-weight: var(--fw-title);
          }
        }

        .container-banho-tosa {
          display: flex;
          flex-direction: column;
          gap: 1em;
          align-items: center;
          max-width: 500px;
          padding: 1em;

          .img-text-one,
          .img-text-two {
            display: grid;
            align-items: center;
            grid-template-columns: auto 1fr;
            gap: 0.8em;

            .img-one,
            .img-two {
              & img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
              }
            }

            .text-one,
            .text-two {
              ul {
                margin-bottom: 0;

                li p {
                  margin-bottom: 0;
                }
              }
            }
          }

          .text-grid {
            display: flex;
            padding-top: 2em;
          }
        }

        .btn-card {
          margin: 2em 0 1em;

          ul li a {
            background: var(--clr-pet-blue-light);
            transition: all 0.3s ease;
            padding: 0.8em 1.5em;
            border-radius: 0.4em;
            text-decoration: none;
            color: var(--clr-black);

            &:hover {
              background: var(--clr-pet-blue);
              color: var(--clr-white);
            }
          }
        }
      }

      .card-adestramento-comportamento {
        background: var(--clr-white);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        align-items: center;
        border: 1px solid var(--clr-pet-blue-light);

        .title-adestramento-comportamento {
          background: var(--clr-pet-blue-light);
          padding: 1em 0;
          width: 100%;
          text-align: center;
          border-radius: 1em 1em 0 0;

          ul li p {
            font-size: var(--fs-sub-title);
            font-weight: var(--fw-title);
          }
        }

        .container-adestramento-comportamento {
          display: flex;
          flex-direction: column;
          gap: 1em;
          padding: 1em;

          .img-text-one,
          .img-text-two {
            display: grid;
            align-items: center;
            grid-template-columns: auto 1fr;
            gap: 0.8em;

            .img-one,
            .img-two {
              & img {
                width: 280px;
                height: 160px;
                border-radius: 0.8em;
                object-fit: cover;
              }
            }

            .text-one,
            .text-two {
              ul li p {}
            }
          }

          .text-grid {
            display: flex;
            padding-top: 2em;
          }
        }

        .btn-card {
          margin: 2em 0 1em;

          ul li a {
            background: var(--clr-pet-blue-light);
            transition: all 0.3s ease;
            padding: 0.8em 1.5em;
            border-radius: 0.4em;
            text-decoration: none;
            color: var(--clr-black);

            &:hover {
              background: var(--clr-pet-blue);
              color: var(--clr-white);
            }
          }
        }
      }

      .card-atendimento-vet,
      .card-hospedagem-creche,
      .card-transporte-pet {
        background: var(--clr-white);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        align-items: center;
        width: 400px;
        border: 1px solid var(--clr-pet-blue-light);

        .title-atendimento-vet,
        .title-hospedagem-creche,
        .title-transporte-pet {
          width: 100%;
          background: var(--clr-pet-blue-light);
          border-radius: 1em 1em 0 0;
          padding: 1em 0;
          text-align: center;

          ul li p {
            font-size: var(--fs-sub-title);
            font-weight: var(--fw-title);
          }
        }

        .container-atendimento-vet,
        .container-hospedagem-pet,
        .container-transporte-pet {
          display: flex;
          flex-direction: column;
          gap: 2em;
          padding: 1em;

          .img-text-one,
          .img-text-two,
          .img-text-three {
            display: grid;
            align-items: center;
            grid-template-columns: auto 1fr;
            gap: 1em;

            .img-one img,
            .img-two img,
            .img-three img {
              width: 160px;
              height: 110px;
              border-radius: 0.8em;
              object-fit: cover;
            }

            .text-one,
            .text-two,
            .text-three {
              max-width: 320px;

              ul li p {
                margin-bottom: 0;
              }
            }
          }

          .text-grid {
            display: flex;
          }
        }

        .btn-card {
          margin-top: auto;
          margin: 2em 0 1em;

          ul li a {
            background: var(--clr-pet-blue-light);
            transition: all 0.3s ease;
            padding: 0.8em 1.5em;
            border-radius: 0.4em;
            text-decoration: none;
            color: var(--clr-black);

            &:hover {
              background: var(--clr-pet-blue);
              color: var(--clr-white);
            }
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .grid-service {
      flex-direction: column;
      align-items: center;

      .img-text-one,
      .img-text-two,
      .img-text-three {
        grid-template-columns: 1fr;
        text-align: center;

        .img-one img,
        .img-two img,
        .img-three img {
          width: 80%;
          margin: 0 auto;
          height: auto;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .btn-card ul li a {
      width: 100%;
    }

    .container-service {
      padding: 1em;
    }
  }
}


/* #endregion */

/* #region contact*/
#contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  .title-text-contact {
    background: var(--clr-black);
    text-align: center;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    width: 100%;

    ul {
      padding-top: 4em;
      display: flex;
      flex-direction: column;
      max-width: 1300px;

      li {
        max-width: 1300px;
        align-items: center;

        .title-contact {
          font-size: var(--fs-title);
          font-weight: var(--fw-title);
          color: var(--clr-white);
        }

        .text-contact {
          color: var(--clr-white);
        }
      }
    }
  }

  .container-contact-form-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    max-width: 1300px;
    width: 100%;
    padding: 2em;
    margin: 0 auto;

    .container-contact {
      flex: 1 1 500px;
      display: flex;
      justify-content: center;
      align-items: center;

      .form {
        width: 100%;
        display: flex;
        justify-content: center;

        form {
          display: flex;
          flex-direction: column;
          gap: 1em;
          width: 100%;
          max-width: 500px;
          background: var(--clr-pet-blue-soft);
          padding: 1.5em;
          border-radius: 1em;

          .name,
          .email,
          .phone,
          .message {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            width: 100%;
          }

          label {
            display: flex;
            flex-direction: column;
            color: var(--clr-black);
          }

          input,
          textarea {
            background: var(--clr-white);
            border: 1px solid var(--clr-pet-blue-dark);
            padding: 0.6em 1.3em;
            border-radius: 0.6em;
            overflow: auto;
            resize: none;

            &:focus {
              border-color: var(--clr-pet-blue-light);
            }
          }

          .btn-form-contact {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            button {
              border: none;
              background: var(--clr-pet-blue-light);
              transition: all 0.3s ease;
              padding: 0.6em 2em;
              border-radius: 0.6em;
              text-decoration: none;
              color: var(--clr-forest-one);

              &:hover {
                background: var(--clr-pet-blue);
                color: var(--clr-white);
              }
            }
          }
        }
      }
    }

    .container-address {
      flex: 1 1 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1.5em;

      .clinica {
        li {
          display: flex;
          flex-direction: column;
          gap: 0.3em;

          .title-clinica {
            font-weight: var(--fw-title);
            font-size: var(--fs-sub-title);
          }
        }
      }

      .endereco {
        ul {
          li {
            display: flex;
            flex-direction: column;
            gap: 0.3em;

            .title-endereco {
              font-weight: var(--fw-title);
              font-size: var(--fs-sub-title);
            }
          }
        }
      }

      .maps-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .maps {
          iframe {
            width: 100%;
            max-width: 510px;
            height: 250px;
            border-radius: 1em;
            border: none;
          }
        }
      }
    }
  }
}

/* --- RESPONSIVO --- */
@media (max-width: 1024px) {
  #contact {

    justify-content: center;

    .container-contact-form-address {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .container-contact,
    .container-address {
      max-width: 650px;
      width: 90%;
    }

    .container-address {
      text-align: center;

      .maps iframe {
        max-width: 100%;
      }
    }
  }
}

/* --- DE 768px A 400px -> MAIS LARGO --- */
@media (max-width: 768px) and (min-width: 400px) {
  #contact {
    padding: 0 !important;

    .container-contact,
    .container-address {
      max-width: 90%;
      width: 90%;
    }

    .container-contact .form form {
      max-width: 100%;
      width: 100%;
      padding: 1.5em;
    }

    .maps iframe {
      max-width: 100%;
      height: 230px;
    }
  }
}

@media (max-width: 400px) {
  #contact {
    padding: 0 !important;

    .title-text-contact ul {
      padding-top: 2em;
    }

    .container-contact-form-address {
      gap: 2em;

      .container-contact,
      .container-address {
        width: 100%;
      }

      .container-contact .form form {
        padding: 1em;
      }

      .maps iframe {
        height: 200px;
      }
    }
  }
}

/* #endregion */

.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 14px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.5s, bottom 0.5s;
}

/* .toast {
  left: auto;
  right: 30px;
  bottom: 30px;
  margin-left: 0;
} */

.toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}

/* Telas médias - laptops e tablets grandes */

/* #endregion */
@media (max-width: 1024px) {
  #home {
    padding: 1.5em;

    .highlight-sections {
      gap: 1em;

      .highlight-section-one {
        max-width: 300px;

        .main-image-product img {
          max-width: 200px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #home {
    padding: 1em;

    .highlight-sections {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 0.8em;

      .highlight-section-one {
        max-width: 300px;

        .main-image-product img {
          max-width: 160px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #home {
    padding: 0.8em;

    .highlight-sections {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1em;

      .highlight-section-one {
        max-width: 300px;

        .main-image-product img {
          max-width: 130px;
        }
      }
    }
  }
}





/* Botão Voltar ao Topo */
#pawTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5000;
  background: var(--clr-pet-blue-light);
  color: var(--clr-white);
  border: none;
  padding: 0.3em 0.6em;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  box-shadow: 0 3px 10px var(--clr-gray-light);
  transition: all 0.3s ease;
width: 60px;
height: 60px;
  img{
    width: 30px;
  height: 75%;
  }
}

#pawTopBtn:hover {
  background: var(--clr-pet-yellow);
  transform: translateY(-3px);
}

/* Animação de patinhas */
@keyframes paw-walk {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh) scale(0.6);
  }
}

.paw-trail {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-repeat: repeat;
  background-size: 2em;
  animation: paw-walk 2s linear forwards;
  z-index: 4500;
}

